In [1]:
import pandas as pd

df = pd.read_excel("CBPOne 2024(Responses) (Attorney privelege doc).xlsx")

df = df.dropna(subset=['Nombres y Apellidos']) #drop all rows that don't have a name/last name for client

In [2]:
df

,Timestamp,Email Address,Nombres y Apellidos,Nacionalidad,Número de Mujeres que viajan (incluyendo al titular),Número de Hombres que viajan (incluyendo al titular),Número de menores que viajan,Fecha nacimiento\nMM DD AA,Telefono,Notas del app,Notas generales del caso
0,2024-04-02 16:11:14.623,ednamaldonado@las-americas.org,Carla Yohana Valdivia Gonzalez,Bolivia,1.0,0.0,1.0,02/26/1992,(656)306 3148,No fecha programada,"Viaja sola, motivos situación de persecución p..."
1,2024-01-31 13:37:08.331,mireyasierra@las-americas.org,Juan José Piedrahíta Zuluaga,Colombia,0.0,1.0,0.0,07/04/1997,52 564 813 0781,No fecha programada,Viaja solo. Huyo de su país por estar en pelig...
2,2024-02-06 19:21:52.710,mireyasierra@las-americas.org,Yurleidy Karina Rojas Vera,Colombia,2.0,0.0,0.0,11/21/1998,52 656 422 0148,No fecha programada,Viaja con su pareja (LGBT) mujer: Nailet Vanes...
3,2024-02-06 19:31:50.590,mireyasierra@las-americas.org,Lizeth Johana Lara,Colombia,1.0,1.0,2.0,12/22/1994,52 332 066 3212,No fecha programada,"Viaja con su familia, su marido (UL desde hace..."
4,2024-02-07 16:21:01.927,ednamaldonado@las-americas.org,Kimberli Liliana Arroyo Bossio,Colombia,1.0,2.0,0.0,05/26/2000,(961)301 23 15,No fecha programada,Viaja con su pareja de 22 años origen Venezuel...
...,...,...,...,...,...,...,...,...,...,...,...
155,2024-04-16 16:13:45.574,ednamaldonado@las-americas.org,Luis Alexis Noguera Ramirez,Venezuela,0.0,1.0,0.0,01/28/1981,(962)132 9386,No fecha programada,"Viaja solo, motivos situación política y econo..."
156,2024-05-06 14:36:12.642,ednamaldonado@las-americas.org,Aimee Dayana Avendaño Rivas,Venezuela,1.0,1.0,3.0,03/18/1987,(614)119 7810,No fecha programada,"Viaja con sus 4 hijos de 19, 15, 11 y 8 años m..."
157,2024-05-07 16:27:24.000,ednamaldonado@las-americas.org,Yatzunarysde Lourdes Rojas Suniga,Venezuela,1.0,0.0,0.0,01/09/2001,(971)153 5579,No fecha programada,"Viaja sola, situación política y economica, co..."
158,2024-05-10 14:43:48.163,ednamaldonado@las-americas.org,Alexandra Aleximar Martinez Yelamo,Venezuela,1.0,1.0,3.0,19/14/1999,NaN,No fecha programada,Viaja con su pareja 27 años y sus 3 niñas de 7...
159,2024-05-13 15:08:43.017,ednamaldonado@las-americas.org,Lucia Milagros Breindembach,Venezuela,1.0,1.0,2.0,12/06/1979,(962)520 9243,No fecha programada,Viaja con su pareja y papá de sus hijos de 63 ...

In [3]:
df['Nacionalidad'].value_counts(normalize=True) * 100

Nacionalidad
Mexico         54.375
Venezuela      15.625
Colombia        7.500
Honduras        7.500
Cuba            5.000
Guatemala       5.000
El Salvador     1.250
Ecuador         1.250
Bolivia         0.625
Nicaragua       0.625
Otro            0.625
Peru            0.625
Name: proportion, dtype: float64

In [4]:
df['Nacionalidad'].value_counts()

Nacionalidad
Mexico         87
Venezuela      25
Colombia       12
Honduras       12
Cuba            8
Guatemala       8
El Salvador     2
Ecuador         2
Bolivia         1
Nicaragua       1
Otro            1
Peru            1
Name: count, dtype: int64

In [5]:
df['Total Family Members'] = df['Número de Mujeres que viajan (incluyendo al titular)'] + df['Número de Hombres que viajan   (incluyendo al titular)'] + df['Número de menores que viajan']

In [6]:
import numpy as np
import dataframe_image as dfi
repeated_data = np.repeat(df.values, df['Total Family Members'], axis=0)

# Create a new DataFrame with the repeated rows
df_repeated = pd.DataFrame(repeated_data, columns=df.columns)

df_repeated['Nacionalidad'].value_counts(normalize=True) * 100

Nacionalidad
Mexico         61.814346
Venezuela      15.189873
Colombia        6.329114
Guatemala       4.219409
Honduras        4.008439
Cuba            3.375527
Ecuador         3.375527
Bolivia         0.421941
El Salvador     0.421941
Nicaragua       0.421941
Otro            0.210970
Peru            0.210970
Name: proportion, dtype: float64

In [7]:
df_repeated['Nacionalidad'].value_counts()

Nacionalidad
Mexico         293
Venezuela       72
Colombia        30
Guatemala       20
Honduras        19
Cuba            16
Ecuador         16
Bolivia          2
El Salvador      2
Nicaragua        2
Otro             1
Peru             1
Name: count, dtype: int64

In [9]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Month'] = df['Timestamp'].dt.month
df['Year'] = df['Timestamp'].dt.year


# Step 4: Group data by month and country of origin
grouped = df.groupby(['Year', 'Month', 'Nacionalidad']).size().unstack(fill_value=0)

repeated_data = np.repeat(df.values, df['Total Family Members'], axis=0)

# Create a new DataFrame with the repeated rows
df_repeated = pd.DataFrame(repeated_data, columns=df.columns)

new_grouped = df_repeated.groupby(['Year', 'Month', 'Nacionalidad']).size().unstack(fill_value=0)
dfi.export(new_grouped,"Country of Origin 2024.png")

In [10]:
new_grouped

Nacionalidad  Bolivia  Colombia  Cuba  Ecuador  El Salvador  Guatemala  \
Year Month
2024 1              0         1     8        0            0          4
     2              0        14     4       10            1          2
     3              0         5     4        0            0          9
     4              2         6     0        6            1          2
     5              0         4     0        0            0          3

Nacionalidad  Honduras  Mexico  Nicaragua  Otro  Peru  Venezuela
Year Month
2024 1               9      63          0     0     0         33
     2               1      95          0     0     0          8
     3               0      55          2     0     0         11
     4               8      45          0     1     1          5
     5               1      35          0     0     0         15